


  <div class="photo-show-main">

    <div class="photo-back-ctr">
      <a class="photo-back" href="/photos">&#10005</a>
    </div>

    <div class="large-photo">

      <div class="l-photo-inr">
        <div class="l-photo-wrp">
          <img src="/images/{{photo.filename}}" alt="">
        </div>
      </div>

    </div>

  </div>
  <div class="clear-fix">

  </div>
